mpianec_aplikacija_2/mpianec_aplikacija_2-war/web/WEB-INF/wsdl/localhost_8084/mpianec_aplikacija_1/SOAPWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.mpianec.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.mpianec.nwtis.foi.org/" name="SOAPWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.mpianec.nwtis.foi.org/" schemaLocation="http://localhost:8084/mpianec_aplikacija_1/SOAPWS?xsd=1"/>
</xsd:schema>
</types>
<message name="azurirajKorisnika">
<part name="parameters" element="tns:azurirajKorisnika"/>
</message>
<message name="azurirajKorisnikaResponse">
<part name="parameters" element="tns:azurirajKorisnikaResponse"/>
</message>
<message name="podaciOPoletjelima">
<part name="parameters" element="tns:podaciOPoletjelima"/>
</message>
<message name="podaciOPoletjelimaResponse">
<part name="parameters" element="tns:podaciOPoletjelimaResponse"/>
</message>
<message name="podaciOLetovimaString">
<part name="parameters" element="tns:podaciOLetovimaString"/>
</message>
<message name="podaciOLetovimaStringResponse">
<part name="parameters" element="tns:podaciOLetovimaStringResponse"/>
</message>
<message name="unosPodatakaAviona">
<part name="parameters" element="tns:unosPodatakaAviona"/>
</message>
<message name="unosPodatakaAvionaResponse">
<part name="parameters" element="tns:unosPodatakaAvionaResponse"/>
</message>
<message name="podaciOAvionima">
<part name="parameters" element="tns:podaciOAvionima"/>
</message>
<message name="podaciOAvionimaResponse">
<part name="parameters" element="tns:podaciOAvionimaResponse"/>
</message>
<message name="meteo">
<part name="parameters" element="tns:meteo"/>
</message>
<message name="meteoResponse">
<part name="parameters" element="tns:meteoResponse"/>
</message>
<message name="podaciOLetovima">
<part name="parameters" element="tns:podaciOLetovima"/>
</message>
<message name="podaciOLetovimaResponse">
<part name="parameters" element="tns:podaciOLetovimaResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<message name="podaciOKorisniku">
<part name="parameters" element="tns:podaciOKorisniku"/>
</message>
<message name="podaciOKorisnikuResponse">
<part name="parameters" element="tns:podaciOKorisnikuResponse"/>
</message>
<portType name="SOAPWS">
<operation name="azurirajKorisnika">
<input wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/azurirajKorisnikaRequest" message="tns:azurirajKorisnika"/>
<output wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/azurirajKorisnikaResponse" message="tns:azurirajKorisnikaResponse"/>
</operation>
<operation name="podaciOPoletjelima">
<input wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/podaciOPoletjelimaRequest" message="tns:podaciOPoletjelima"/>
<output wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/podaciOPoletjelimaResponse" message="tns:podaciOPoletjelimaResponse"/>
</operation>
<operation name="podaciOLetovimaString">
<input wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/podaciOLetovimaStringRequest" message="tns:podaciOLetovimaString"/>
<output wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/podaciOLetovimaStringResponse" message="tns:podaciOLetovimaStringResponse"/>
</operation>
<operation name="unosPodatakaAviona">
<input wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/unosPodatakaAvionaRequest" message="tns:unosPodatakaAviona"/>
<output wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/unosPodatakaAvionaResponse" message="tns:unosPodatakaAvionaResponse"/>
</operation>
<operation name="podaciOAvionima">
<input wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/podaciOAvionimaRequest" message="tns:podaciOAvionima"/>
<output wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/podaciOAvionimaResponse" message="tns:podaciOAvionimaResponse"/>
</operation>
<operation name="meteo">
<input wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/meteoRequest" message="tns:meteo"/>
<output wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/meteoResponse" message="tns:meteoResponse"/>
</operation>
<operation name="podaciOLetovima">
<input wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/podaciOLetovimaRequest" message="tns:podaciOLetovima"/>
<output wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/podaciOLetovimaResponse" message="tns:podaciOLetovimaResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
<operation name="podaciOKorisniku">
<input wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/podaciOKorisnikuRequest" message="tns:podaciOKorisniku"/>
<output wsam:Action="http://serveri.ws.mpianec.nwtis.foi.org/SOAPWS/podaciOKorisnikuResponse" message="tns:podaciOKorisnikuResponse"/>
</operation>
</portType>
<binding name="SOAPWSPortBinding" type="tns:SOAPWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="azurirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="podaciOPoletjelima">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="podaciOLetovimaString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unosPodatakaAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="podaciOAvionima">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="meteo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="podaciOLetovima">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="podaciOKorisniku">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SOAPWS">
<port name="SOAPWSPort" binding="tns:SOAPWSPortBinding">
<soap:address location="http://localhost:8084/mpianec_aplikacija_1/SOAPWS"/>
</port>
</service>
</definitions>